<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>meetup</title>
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/jquery.anystretch.min.js"></script>
    </head>
    <body>
        <h1>about</h1>
    </body>
</html>
